div.container
  div.banner
    h1 Dummy Slogan
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque totam, dolores eligendi ipsum quae illum iste sed at debitis! Esse nemo et sed, ad rerum ea laboriosam optio eius.
    div.banner__btn_cont
      a(href="#").banner__btn_cont--button Download
      a(href="#").banner__btn_cont--button See Example