footer.footer
  .container
    .ftrCont
      section
        .logo Logo Here
      section
        h3 Links
        ul
          li 
            a(href="/") Home
          li 
            a(href="/about") About
          li 
            a(href="/careers") Careers
          li 
            a(href="/contact") Contact
      section
        h3 Stay up to date information
        form(action="#", method="post" )
          input(type="email", name="email_address", placeholder="Enter your email address...")
          button(type="submit") Send
  .copyright 
    span CopyRights 2020 
      a(href="#") DNA Micro Solution Inc.

      