html
  head
    title= title
    link(rel='stylesheet', href='css/index.css')
  body
    header.header
      div.logo Logo here
      div.contact_info
        ul.contact_info__list
          li.contact_info--item 
            a(href="mailto:example@example.com") example@example.com
          li.contact_info--item 
            a(href="tel:0905-223-2232") 0905-223-2232
    include nav