#services
  .container
    .services
      h2 Our Services
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores ullam quos itaque impedit ad dolore, nisi facilis sequi in facere dolores corrupti repudiandae harum beatae incidunt perspiciatis, cupiditate nam nostrum?
      .services__container
        .services__container--card
          img(src="https://allworldpm.com/wp-content/uploads/2016/10/230x230-avatar-dummy-profile-pic.jpg", alt="dummy")
          h3 sample
            span title here
          p This content is a dummy only
        .services__container--card
          img(src="https://allworldpm.com/wp-content/uploads/2016/10/230x230-avatar-dummy-profile-pic.jpg", alt="dummy")
          h3 sample
            span title here
          p This content is a dummy only
        .services__container--card
          img(src="https://allworldpm.com/wp-content/uploads/2016/10/230x230-avatar-dummy-profile-pic.jpg", alt="dummy")
          h3 sample
            span title here
          p This content is a dummy only Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente numquam quisquam eius enim officia velit sint eos, recusandae, explicabo, praesentium veniam eum deleniti? Facilis pariatur praesentium corrupti alias aut. Exercitationem!