.footer{
  background: #222;
  color: #fff;
  padding:5em 0 0;
  .ftrCont{
    @include flex(flex, space-between);

    section {
      flex: 1 1 0px;
      align-items: flex-start;
      .logo{
        font-weight: bold;
        font-size: 2em;
      }

      ul{
        li{
          margin: 0 0 0.4em;
          a{
            color:#fff;
            text-decoration: none;
            font-weight: normal; 
            font-size: 1.2em;
            display: block;

            &:hover{
              text-decoration: underline;
              opacity: .6;
            }
          }
        }

      }
      h3{
        font-size: 1.4em;
        line-height: 100%;
        margin-bottom: 1em;
      }

      form{

        input{
          width: 100%;
          border: none;
          background: none;
          border-bottom: 1px solid #f47a7a;
          color: #fff;
          font-size: inherit;
          padding: 0.4em;
        }
        button{
          min-width: 194px;
          font-family: inherit;
          font-size: 1.2em;
          border: none;
          background: #f47a7a;
          color: #fff;
          padding: 0.5em;
          margin: 2em 0 0;

          &:hover{
            opacity: .5;
          }
        }

      }

    }
  }

  .copyright{
    text-align: center;
    background: #f47a7a;
    padding: 2em;
    margin: 6em 0 0;
            
    span{
       
    }

    a{
      color:#fff
    }
  }
}